<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuyoah.server.mapper.SalaryMapper">

    <resultMap id="BaseResultMap" type="com.nuyoah.server.pojo.Salary">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="basicSalary" column="basicSalary" jdbcType="INTEGER"/>
            <result property="bonus" column="bonus" jdbcType="INTEGER"/>
            <result property="lunchSalary" column="lunchSalary" jdbcType="INTEGER"/>
            <result property="trafficSalary" column="trafficSalary" jdbcType="INTEGER"/>
            <result property="allSalary" column="allSalary" jdbcType="INTEGER"/>
            <result property="pensionBase" column="pensionBase" jdbcType="INTEGER"/>
            <result property="pensionPer" column="pensionPer" jdbcType="FLOAT"/>
            <result property="createDate" column="createDate" jdbcType="TIMESTAMP"/>
            <result property="medicalBase" column="medicalBase" jdbcType="INTEGER"/>
            <result property="medicalPer" column="medicalPer" jdbcType="FLOAT"/>
            <result property="accumulationFundBase" column="accumulationFundBase" jdbcType="INTEGER"/>
            <result property="accumulationFundPer" column="accumulationFundPer" jdbcType="FLOAT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,basicSalary,bonus,
        lunchSalary,trafficSalary,allSalary,
        pensionBase,pensionPer,createDate,
        medicalBase,medicalPer,accumulationFundBase,
        accumulationFundPer,name
    </sql>
</mapper>
